{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "jest",
        "react",
        "react-hooks",
        "prettier"
    ],
    "parserOptions": {
        "sourceRType": "module",
        "ecmaVersion": 7,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest/globals": true
    },
    "rules": {
        "no-console": 0,
        "prettier/prettier": "error",
        "arrow-parens": ["error", "as-needed"],
        "no-shadow": 0,
        "global-require": 0,
        "react-hooks/rules-of-hooks": "error",
        "newline-before-return": "error",
        "import/extensions": 0,
        "no-nested-ternary": 0,
        "no-template-curly-in-string": 0,
        "react/jsx-filename-extension": 0,
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "import/no-dynamic-require": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": "off",
        "consistent-return": 0,
        "import/prefer-default-export": 0,
        "linebreak-style": 0,
        "semi": 0
    }
}