.improvements-view-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -5vh;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .improvements-view-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: -5vh;
        margin-top: -5vh;
    }
}

.improvements-view-content p {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .improvements-view-content p {
        font-size: 1.5rem;
        max-width: 80%;
    }
}

.improvements-view-individual-results {
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #ffffff;
    width: 80vw;
    padding: 4vh;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);   
}

.improvements-view-empty-result {
    font-size: 1.4rem;
}

.ant-list-item-meta-title {
    color: #282d37;
}

.resource-links {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    padding-bottom: 4vh;
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .resource-links {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-bottom: 4vh;
        font-size: 1.5rem;
    }
}


.resource-links li {
    list-style-type: none;
}
@media screen and (max-width: 768px) {
    .resource-links li {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .resource-links li {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}

.resource-links p {
    padding-bottom: 2vh;
}

.resource-links a {
    color: #2e86de;
    font-size: 1.3rem;
    max-width: 90%;
    padding: 1vh;
}

.resource-links a:hover {
    color: #54a0ff;
    font-size: 1.3rem;
}

.route-buttons {
    padding-top: 5vh;
}