.improvements-view {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
}

.improvements-view-content {
    height: 100%;
    width: 100%;
    padding: 10vh;
    /* display: flex;
    flex-flow: row wrap;
    padding-top: 15vh;
    justify-content: space-evenly; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* padding-top: 10vh; */
    align-items: center;
}

.improvements-view-content p {
    font-size: 1.5rem;
    /* color: #282d37; */
    /* padding-bottom: 10vh; */
}

.improvements-view-individual-results {
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-color: #ffffff;
    width: 80vw;
    padding: 4vh;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);   
}

.ant-list-item-meta-title {
    color: #282d37;
}