.results-view {
    height: 100vh;
    width: 100vw;
    background-color: #f8f9fa;
}

.results-view-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 15vh;
    justify-content: space-evenly;
}

.results-view img {
    /* position: absolute;
    height: 80%;
    width: 100%;
    opacity: 0.2;
    z-index: -1; */
    padding: 0;
    margin: 0;
    max-height: 60%;
    padding-top: 5vh;
}

.results-view-results {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
}

.results-view-overall-score {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.results-view-individual-scores {
    padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.results-view-card {
    padding: 0;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    text-align: center;
}

.results-view-card-title {
    font-size: 1em;
    font-weight: 300;
    color: #f8f9fa;
}

.results-view-card-grade {
    font-size: 1.6em;
    font-weight: 400;
    color: #f8f9fa;
}

.results-view-share-buttons {
    text-align: center;
    padding-top: 3vh;
    min-width: 50vw;
    padding-bottom: 10vh;
}

.results-view-share-buttons p {
    font-size: 1.4rem;
    font-weight: 500;
}

.results-view-improvements {
    /* text-align: center; */
    /* width: 35vw; */
}

.results-view-improvements p {
    font-size: 1.3rem;
    padding-bottom: 1vh;
}

.results-view-improvements-emphasis {
    font-size: 1.3rem;
    font-weight: 600;
}