.results-view {
    height: 100vh;
    width: 100vw;
}

.results-view img {
    position: absolute;
    height: 80%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
}

.results-view-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    padding-top: 20vh;
    align-items: center;
}

.results-view-overall-score {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.results-view-individual-scores {
    padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.results-view-card {
    padding: 0;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    text-align: center;
}

.results-view-card-title {
    font-size: 1em;
    font-weight: 300;
    color: #f8f9fa;
}

.results-view-card-grade {
    font-size: 1.6em;
    font-weight: 400;
    color: #f8f9fa;
}

.results-view-card-button {
    font-size: 1em;
    font-weight: 400;
}