.results-view-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: -10vh;
}
@media screen and (max-width: 768px) {
    .results-view-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

.results-view-content img {
    padding: 0;
    margin: 0;
    max-height: auto;
    max-width: 30%;
}
@media screen and (max-width: 768px) {
    .results-view-content img {
        padding: 0;
        padding-bottom: 5vh;
        margin: 0;
        max-height: auto;
        max-width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .results-view-content img {
        padding: 0;
        padding-bottom: 5vh;
        margin: 0;
        max-height: auto;
        max-width: 40%;
    }
}


.results-view-results {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.results-view-overall-score {
    text-align: center;
}


.results-view-individual-scores {
    padding-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .results-view-individual-scores {
        padding-top: 5vh;
        width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: auto auto;
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .results-view-individual-scores {
        padding-top: 5vh;
        width: 60vw;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row: auto;
        grid-column-gap: 2vw;
    }
}

.results-view-card {
    padding: 0;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
@media screen and (max-width: 768px) {
    .results-view-card {
        padding: 0;
        text-align: center;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        align-content: middle;
        height: 75px;
        width: 75px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .results-view-card {
        padding: 0;
        text-align: center;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        align-content: middle;
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
}

.results-view-card-title {
    font-size: 1em;
    font-weight: 300;
    color: #f8f9fa;
}

.results-view-card-grade {
    font-size: 1.6em;
    font-weight: 400;
    color: #f8f9fa;
}

.results-view-share-buttons {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 3vh;
    min-width: 60vw;
}

.results-view-share-buttons p {
    font-size: 1.4rem;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .results-view-share-buttons * {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .results-view-share-buttons * {
        margin-left: 0.4vw;
        margin-right: 0.4vw;
    }
}

.ant-progress-circle.ant-progress-status-success .ant-progress-text {
    color: #10ac83 !important;
    font-weight: 400;
}