.homeview-footer {
    width: 100vw;
    height: 8vh;
    margin-top: -8vh;
    background-color: #413f58;
    position: fixed;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.author-text {
    color: #f8f9fa;
    font-size: 1.5rem;
    vertical-align: middle;
}

.mappedin-logo {
    padding-left: 0.3vw;
    margin-bottom: 0.7vh;
    height: 2.3rem;
}

.mappedin-logo:hover {
    filter: brightness(95%);
}