.test-view-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.test-view-text-content p {
    font-size: 1.5rem;
    margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
    .test-view-text-content p {
        font-size: 1.5rem;
        margin-bottom: 5vh;
        margin-left: 7vw;
        margin-right: 7vw;
    }
}

.test-view-steps {
    background-color: #ffffff;
    width: 80vw;
    padding: 4vh;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.steps-content {
    min-height: 30vh;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.steps-content-form-item .ant-form-item-label {
    white-space: normal;
    margin-left: 0;
    height: 4rem;
}
  
.steps-action {
    float: right;
}

/* Radio Button Text Sizing */
.ant-form span {
    font-size: 16px;
}